# ----------------------------
# Virtual Environment
# ----------------------------
agent/
venv/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Database Files
# ----------------------------
*.db
*.sqlite
*.sqlite3

# ----------------------------
# Python Cache
# ----------------------------
__pycache__/
*.pyc
*.pyo

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# OS / Editor Files
# ----------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ----------------------------
# Streamlit
# ----------------------------
.streamlit/
